@mixin img-cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}

@mixin overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}