<template>
  <div>
    <Header></Header>
    <transition name="show" mode="out-in">
      <router-view></router-view>
    </transition>
  </div>
</template>

<script>
import {mapMutations} from 'vuex'

import Header from './components/Layout/Header.vue'

export default {
  methods: {
    ...mapMutations([
      'SET_MOBILE'
    ]),
    setWidth () {
      this.SET_MOBILE(window.innerWidth)
    }
  },
  metaInfo: {
    titleTemplate: (titleChunk) => {
      return titleChunk ? `${titleChunk} - Title` : 'Title'
    }
  },
  components: {
    Header
  },
  created () {
    this.setWidth()
    window.addEventListener('resize', () => {
      this.setWidth()
    }, true)
  },
  destroyed () {
    window.removeEventListener('resize', () => {
    })
  }
}
</script>
